@import '../../normalize/normalize.css';

.container-messages{
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #E5DDD5;
    padding: 40px 10px 0px;
}
.container-no-messages{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E5DDD5;
    font-size: 20px;
} 
.container-no-messages span{
    color: black;
}

