@import '../../normalize/normalize.css';


.container-form{
    background-color: #ffffff;
    box-shadow:  3px 4px 4px rgba(0, 0, 0, 0.08);
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-form-text{
    margin-left: 10px;
}
.container-btn-form{
    margin-right: 10px;
    border-radius: 50%;
    background-color: #008069;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-container { 
    width: 80vw;
    background-color: white;
    resize: none;
    outline: none;
    display: flex;
    align-items: center;
    border: none;
} 

.textarea-container::placeholder {
    color: #667781; 
    opacity: 0.8;
    font-size: 16px;
} 

.btn{
    background-color: transparent;
    border: none;
    color: #ffffff;
}

@media (max-width: 490px){
    .textarea-container{
        width: 40vw;
    }
    .textarea-container::placeholder{
        font-size: 12px;
    }
}

