@import '../../normalize/normalize.css';

.container-chat-header{
    position: static;
}
.chat-header{
    height: 12vh;
    background-color: #1A1B1F;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 60px;
    
}
.img-contact-item-header{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.container-contact-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
}
.chat-header a{
    text-decoration: none;
}

.container-contact-connection{
    display: flex;
    flex-direction: column;
}
.container-btn-go-home{
    width: 30px;
    height: 30px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-btn-go-home:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
.container-btn-go-home a{
    color: #ffffff;
}
.container-multimedia-icon{
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    right: 20px;
    display: flex;
    gap: 20px;
}
.contact-name{
    color: #ffffff;
    font-size: 18px;
}
.container-contact-connection span{
    color: #ffffff;
    font-size: 16px;
}
.container-call-video-icon{
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: #ffffff;
}
.container-bomb-icon{
    color: rgb(228, 6, 6);
    font-size: 24px;
    border: none;
    background-color: transparent;
}
.container-bomb-icon:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

@media (max-width: 530px){
    .chat-header{
        gap: 5px;
    }
}
@media (max-width: 470px){
    .container-btn-go-home{
        font-size: 18px;
    }
    .contact-name{
        font-size: 14px;
    }
    .container-contact-connection span{
        font-size: 12px;
    }
    .container-multimedia-icon{
        font-size: 18px;
    }
}
@media (max-width: 390px){
    .container-call-video-icon{
        display: none;
    }
}
@media (max-width: 335px){
    .chat-header{
        padding: 0 5px;
    }
}